{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.analyzer.jvm {:mvn/version "1.0.0"}
        rewrite-clj/rewrite-clj {:mvn/version "1.0.644-alpha"}
        clj-kondo/clj-kondo {:mvn/version "2021.08.06"}
        cheshire/cheshire {:mvn/version "5.10.0"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "0.5.2"}}
            :main-opts ["-m" "hf.depstar.uberjar" "clojure-analyzer.jar"
                        "-C" "-m" "exercism.clojure-analyzer"]}}}
