name: Push to DockerHub

on:
  push:
    branches: [master]

jobs:
  dockerhub:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - uses: satackey/action-docker-layer-caching@46d2c640b1d8ef50d185452ad6fb324e6bd1d052

      - name: Build and push Docker images
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: ${{ github.event.repository.full_name }}
          tag_with_sha: true
          tags: latest
          dockerfile: Dockerfile
